<!-- 
<h1>Shows List</h1>
<ul class="list-group">
  <% postData.forEach(function(show) { %>
    <li class="list-group-item">
      <strong>Title:</strong><%= show.title %><br>
      <strong>Genre:</strong><%= show.genre %><br>
      <strong>Rating:</strong><%= show.rating %><br>
      <strong>Platform:</strong><%= show.platform %><br>
      <strong>Watched:</strong><%= show.watched %><br>

      <form method="POST" action="/update/<%= show._id %>" class="d-inline">
          <button type="submit"  class= "btn btn-warning btn-sm" value="update">Update</button>
      </form>
      <form method="POST" action="/delete/<%= show._id %>" class="d-inline">
        <button type="submit"  class= "btn btn-danger btn-sm" value="update">Delete</button>
      </form>
    </li>
    <% }) %>
</ul>

<hr> -->